extends ../layouts/default 
block main 
  .section1
    .container
      .inner-wrap
        .context-1(
          data-aos-duration="2000" 
          data-aos="fade-up"
          )
          | Du lịch Châu Á - Khám phá Mỹ, Úc, Âu
          br
          | Đi nơi đâu bạn muốn
        .context-2(
          data-aos-delay="100" 
          data-aos-duration="2000" 
          data-aos="fade-up"
          )
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          br
          | labore et dolore magna aliqua
        .input(
          data-aos-delay="500" 
          data-aos-duration="2000" 
          data-aos="fade-up"
          )
          .inner-input-address.inner-item
            .inner-input-title
              img(
                alt="" 
                src="clientasset/img/destination.svg"
                )
              input(
                placeholder="Bạn muốn đi đâu?" 
                type="text"
                )
              img.down(
                alt="" 
                src="clientasset/img/down.svg"
                )
            .inner-suggest-address
              .inner-content
                .suggest-title
                  i.fa-solid.fa-location-dot
                  div Địa Điểm Hot
                .suggest-content
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Nhật Bản
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Phú Quốc
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Singapore
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Hà Nội
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Nhật Bản
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Sapa
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Thái Lan
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Nha Trang
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Bali
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Nhật Bản
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Nhật Bản
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Nhật Bản
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Nhật Bản
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Nhật Bản
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Nhật Bản
                      div 50 tours
                  .item-suggest
                    img(
                      alt="" 
                      src="clientasset/img/city-river.png"
                      )
                    .item-content
                      div Nhật Bản
                      div 50 tours
          .inner-input-amount.inner-item
            .inner-input-title
              img(
                alt="" 
                src="clientasset/img/person.svg"
                )
              input(
                placeholder="Số lượng" 
                type="text"
                )
              img.down(
                alt="" 
                src="clientasset/img/down.svg"
                )
            .inner-suggest-amount
              .inner-item-amount
                .inner-amount-title Người lớn
                .inner-change
                  .inner-decrease -
                  .number 1
                  .inner-increase +
              .inner-item-amount
                .inner-amount-title Trẻ em
                .inner-change
                  .inner-decrease -
                  .number 1
                  .inner-increase +
              .inner-item-amount
                .inner-amount-title Em bé
                .inner-change
                  .inner-decrease -
                  .number 1
                  .inner-increase +
          .inner-input-date.inner-item
            .inner-input-title
              img(
                alt="" 
                src="clientasset/img/calendar.svg"
                )
              input(
                placeholder="Lịch khởi hành" 
                type="text"
                )
              img.down(
                alt="" 
                src="clientasset/img/down.svg"
                )
          button
            i.fa-solid.fa-magnifying-glass
            span Tìm Kiếm
  .section2(
    data-aos-delay="100" 
    data-aos-duration="2000" 
    data-aos="fade-up"
    )
    .container
      .inner-block
        .inner-item-1
          .inner-discount-title
            | ƯU ĐÃI 2024
            br
            | TOUR GIỜ CHÓT
          .inner-content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          .inner-end-title Kết thúc sau
          .inner-time(expireclock="2025-12-01T19:00:00")
            .inner-day.inner-time-item
              .number 00
              .inner-title Ngày
            .inner-hour.inner-time-item
              .number 00
              .inner-title Giờ
            .inner-minute.inner-time-item
              .number 00
              .inner-title Phút
            .inner-second.inner-time-item
              .number 00
              .inner-title Giây
          .inner-discount
            div GIẢM ĐẾN
            div
              span 990.000
              span đ
        .swiper.inner-swiper
          .swiper-wrapper
            .inner-item-block-2.swiper-slide
              img(
                alt="" 
                src="clientasset/img/sydney.png"
                )
              div
                i.fa-solid.fa-bolt
                span Giảm -30%
              div Hà Nội - Lào Cai - SaPa 4N3Đ
              div
                div
                  span
                    del 13.650.000
                  span đ
                div
                  span 2.590.000
                  span đ
              div
                div
                  | Mã Tour:
                  b 123456789
                div
                  | Ngày Khởi Hành:
                  b 22/07/2024
                div
                  | Thời Gian:
                  b 10 Ngày 9 Đêm
              div
                div
                  div
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-regular.fa-star
                  span (5)
                div
                  span Số chỗ còn:
                  span 10
            .inner-item-block-2.swiper-slide
              img(
                alt="" 
                src="clientasset/img/sydney.png"
                )
              div
                i.fa-solid.fa-bolt
                span Giảm -30%
              div Hà Nội - Lào Cai - SaPa 4N3Đ
              div
                div
                  span
                    del 13.650.000
                  span đ
                div
                  span 2.590.000
                  span đ
              div
                div
                  | Mã Tour:
                  b 123456789
                div
                  | Ngày Khởi Hành:
                  b 22/07/2024
                div
                  | Thời Gian:
                  b 10 Ngày 9 Đêm
              div
                div
                  div
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-regular.fa-star
                  span (5)
                div
                  span Số chỗ còn:
                  span 10
            .inner-item-block-2.swiper-slide
              img(
                alt="" 
                src="clientasset/img/sydney.png"
                )
              div
                i.fa-solid.fa-bolt
                span Giảm -30%
              div Hà Nội - Lào Cai - SaPa 4N3Đ
              div
                div
                  span
                    del 13.650.000
                  span đ
                div
                  span 2.590.000
                  span đ
              div
                div
                  | Mã Tour:
                  b 123456789
                div
                  | Ngày Khởi Hành:
                  b 22/07/2024
                div
                  | Thời Gian:
                  b 10 Ngày 9 Đêm
              div
                div
                  div
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-regular.fa-star
                  span (5)
                div
                  span Số chỗ còn:
                  span 10
            .inner-item-block-2.swiper-slide
              img(
                alt="" 
                src="clientasset/img/sydney.png"
                )
              div
                i.fa-solid.fa-bolt
                span Giảm -30%
              div Hà Nội - Lào Cai - SaPa 4N3Đ
              div
                div
                  span
                    del 13.650.000
                  span đ
                div
                  span 2.590.000
                  span đ
              div
                div
                  | Mã Tour:
                  b 123456789
                div
                  | Ngày Khởi Hành:
                  b 22/07/2024
                div
                  | Thời Gian:
                  b 10 Ngày 9 Đêm
              div
                div
                  div
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-regular.fa-star
                  span (5)
                div
                  span Số chỗ còn:
                  span 10
            .inner-item-block-2.swiper-slide
              img(
                alt="" 
                src="clientasset/img/sydney.png"
                )
              div
                i.fa-solid.fa-bolt
                span Giảm -30%
              div Hà Nội - Lào Cai - SaPa 4N3Đ
              div
                div
                  span
                    del 13.650.000
                  span đ
                div
                  span 2.590.000
                  span đ
              div
                div
                  | Mã Tour:
                  b 123456789
                div
                  | Ngày Khởi Hành:
                  b 22/07/2024
                div
                  | Thời Gian:
                  b 10 Ngày 9 Đêm
              div
                div
                  div
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-regular.fa-star
                  span (5)
                div
                  span Số chỗ còn:
                  span 10
          .swiper-pagination
  .section3(
    data-aos-delay="100" 
    data-aos-duration="2000" 
    data-aos="fade-up"
    )
    .container
      .text-title Khuyến Mại Bùng Nổ - Đánh Tan Nóng Bức
      .swiper.list-img
        .swiper-wrapper.inner-img
          .swiper-slide
            img(
              alt="" 
              src="clientasset/img/section3-img1.png"
              )
          .swiper-slide
            img(
              alt="" 
              src="clientasset/img/section3-img2.png"
              )
          .swiper-slide
            img(
              alt="" 
              src="clientasset/img/section3-img3.png"
              )
          .swiper-slide
            img(
              alt="" 
              src="clientasset/img/section3-img1.png"
              )
          .swiper-slide
            img(
              alt="" 
              src="clientasset/img/section3-img2.png"
              )
          .swiper-slide
            img(
              alt="" 
              src="clientasset/img/section3-img3.png"
              )
        .swiper-pagination
  .section4(
    data-aos-delay="100" 
    data-aos-duration="2000" 
    data-aos="fade-up"
    )
    .container
      .text-title Tour Trong Nước
      .inner-wrap
        .inner-item-block-2
          img(
            alt="" 
            src="clientasset/img/sydney.png"
            )
          div
            i.fa-solid.fa-bolt
            span Giảm -30%
          div Hà Nội - Lào Cai - SaPa 4N3Đ
          div
            div
              span
                del 13.650.000
              span đ
            div
              span 2.590.000
              span đ
          div
            div
              | Mã Tour:
              b 123456789
            div
              | Ngày Khởi Hành:
              b 22/07/2024
            div
              | Thời Gian:
              b 10 Ngày 9 Đêm
          div
            div
              div
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-regular.fa-star
              span (5)
            div
              span Số chỗ còn:
              span 10
        .inner-item-block-2
          img(
            alt="" 
            src="clientasset/img/sydney.png"
            )
          div
            i.fa-solid.fa-bolt
            span Giảm -30%
          div Hà Nội - Lào Cai - SaPa 4N3Đ
          div
            div
              span
                del 13.650.000
              span đ
            div
              span 2.590.000
              span đ
          div
            div
              | Mã Tour:
              b 123456789
            div
              | Ngày Khởi Hành:
              b 22/07/2024
            div
              | Thời Gian:
              b 10 Ngày 9 Đêm
          div
            div
              div
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-regular.fa-star
              span (5)
            div
              span Số chỗ còn:
              span 10
        .inner-item-block-2
          img(
            alt="" 
            src="clientasset/img/sydney.png"
            )
          div
            i.fa-solid.fa-bolt
            span Giảm -30%
          div Hà Nội - Lào Cai - SaPa 4N3Đ
          div
            div
              span
                del 13.650.000
              span đ
            div
              span 2.590.000
              span đ
          div
            div
              | Mã Tour:
              b 123456789
            div
              | Ngày Khởi Hành:
              b 22/07/2024
            div
              | Thời Gian:
              b 10 Ngày 9 Đêm
          div
            div
              div
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-regular.fa-star
              span (5)
            div
              span Số chỗ còn:
              span 10
        .inner-item-block-2
          img(
            alt="" 
            src="clientasset/img/sydney.png"
            )
          div
            i.fa-solid.fa-bolt
            span Giảm -30%
          div Hà Nội - Lào Cai - SaPa 4N3Đ
          div
            div
              span
                del 13.650.000
              span đ
            div
              span 2.590.000
              span đ
          div
            div
              | Mã Tour:
              b 123456789
            div
              | Ngày Khởi Hành:
              b 22/07/2024
            div
              | Thời Gian:
              b 10 Ngày 9 Đêm
          div
            div
              div
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-regular.fa-star
              span (5)
            div
              span Số chỗ còn:
              span 10
      a.button(href="#")
        button Xem tất cả
  .section5(
    data-aos-delay="100" 
    data-aos-duration="2000" 
    data-aos="fade-up"
    )
    .container
      img.main-img(
        alt="" 
        src="clientasset/img/Section 5.png"
        )
  .section4(
    data-aos-delay="100" 
    data-aos-duration="2000" 
    data-aos="fade-up"
    )
    .container
      .text-title Tour Nước Ngoài
      .inner-wrap
        .inner-item-block-2
          img(
            alt="" 
            src="clientasset/img/sydney.png"
            )
          div
            i.fa-solid.fa-bolt
            span Giảm -30%
          div Hà Nội - Lào Cai - SaPa 4N3Đ
          div
            div
              span
                del 13.650.000
              span đ
            div
              span 2.590.000
              span đ
          div
            div
              | Mã Tour:
              b 123456789
            div
              | Ngày Khởi Hành:
              b 22/07/2024
            div
              | Thời Gian:
              b 10 Ngày 9 Đêm
          div
            div
              div
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-regular.fa-star
              span (5)
            div
              span Số chỗ còn:
              span 10
        .inner-item-block-2
          img(
            alt="" 
            src="clientasset/img/sydney.png"
            )
          div
            i.fa-solid.fa-bolt
            span Giảm -30%
          div Hà Nội - Lào Cai - SaPa 4N3Đ
          div
            div
              span
                del 13.650.000
              span đ
            div
              span 2.590.000
              span đ
          div
            div
              | Mã Tour:
              b 123456789
            div
              | Ngày Khởi Hành:
              b 22/07/2024
            div
              | Thời Gian:
              b 10 Ngày 9 Đêm
          div
            div
              div
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-regular.fa-star
              span (5)
            div
              span Số chỗ còn:
              span 10
        .inner-item-block-2
          img(
            alt="" 
            src="clientasset/img/sydney.png"
            )
          div
            i.fa-solid.fa-bolt
            span Giảm -30%
          div Hà Nội - Lào Cai - SaPa 4N3Đ
          div
            div
              span
                del 13.650.000
              span đ
            div
              span 2.590.000
              span đ
          div
            div
              | Mã Tour:
              b 123456789
            div
              | Ngày Khởi Hành:
              b 22/07/2024
            div
              | Thời Gian:
              b 10 Ngày 9 Đêm
          div
            div
              div
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-regular.fa-star
              span (5)
            div
              span Số chỗ còn:
              span 10
        .inner-item-block-2
          img(
            alt="" 
            src="clientasset/img/sydney.png"
            )
          div
            i.fa-solid.fa-bolt
            span Giảm -30%
          div Hà Nội - Lào Cai - SaPa 4N3Đ
          div
            div
              span
                del 13.650.000
              span đ
            div
              span 2.590.000
              span đ
          div
            div
              | Mã Tour:
              b 123456789
            div
              | Ngày Khởi Hành:
              b 22/07/2024
            div
              | Thời Gian:
              b 10 Ngày 9 Đêm
          div
            div
              div
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-solid.fa-star
                i.fa-regular.fa-star
              span (5)
            div
              span Số chỗ còn:
              span 10
      a.button(href="#")
        button Xem tất cả
  .section7(
    data-aos-delay="100" 
    data-aos-duration="2000" 
    data-aos="fade-up"
    )
    .container
      .text-title Tin Tức Mới
      .inner-wrap
        .first-box
          img(
            alt="" 
            src="clientasset/img/Tin nhỏ.png"
            )
          a(href="#")
            div 23/05/2024
            div Homestay “cổ tích” giữa Đà Lạt mộng mơ
        .second-box
          img(
            alt="" 
            src="clientasset/img/Tin lớn.png"
            )
          a.text-below(href="#")
            div 23/05/2024
            div Top 5 điểm check in độc đáo tại Singapore
            div
              | Nếu bạn nghĩ du lịch Singapore rất nhàm chán vì chỉ mãi quanh quẩn trong những khối bê tông
              |   vô cảm thì bạn “chắc chưa?”. Tuy đảo quốc Sư Tử không phải là một quốc gia rộng lớn nhưng
              |   các địa điểm du lịch tại Singapore chưa từng đánh mất sức hút đối với cộng đồng xê dịch quốc
              |   tế.
        .first-box
          img(
            alt="" 
            src="clientasset/img/Tin nhỏ (1).png"
            )
          a(href="#")
            div 23/05/2024
            div Homestay “cổ tích” giữa Đà Lạt mộng mơ
        .first-box
          img(
            alt="" 
            src="clientasset/img/Tin nhỏ (2).png"
            )
          a(href="#")
            div 23/05/2024
            div Homestay “cổ tích” giữa Đà Lạt mộng mơ
        .first-box
          img(
            alt="" 
            src="clientasset/img/Tin nhỏ (3).png"
            )
          a(href="#")
            div 23/05/2024
            div Homestay “cổ tích” giữa Đà Lạt mộng mơ