extends ../layouts/default 
block main 
  .breadcumb
    img(
      alt="" 
      src="/clientasset/img/city-river.png"
      )
    .inner-wrap
      div Tour Hà Nội - Ninh Bình - Hạ Long - Yên Tử - Sapa | 6N5D
      .text
        a(href="#")
          div Trang Chủ
        i.fa-solid.fa-angles-right
        a(href="#")
          div Tour Trong Nước
        i.fa-solid.fa-angles-right
        a(href="#")
          div Tour Miền Bắc
        i.fa-solid.fa-angles-right
        a(href="#")
          div Tour Hà Nội - Ninh Bình - Hạ Long - Yên Tử - Sapa | 6N5D
 
  .section10
    .container
      .inner-left
        .inner-wrap
          .swiper-img
            .swiper.inner-thumb(thumbsslider="")
              .swiper-wrapper
                .swiper-slide
                  img(
                    alt="" 
                    src="/clientasset/img/inner-img-1-4.png"
                    )
                .swiper-slide
                  img(
                    alt="" 
                    src="/clientasset/img/inner-img-2.png"
                    )
                .swiper-slide
                  img(
                    alt="" 
                    src="/clientasset/img/inner-img-3.png"
                    )
                .swiper-slide
                  img(
                    alt="" 
                    src="/clientasset/img/inner-img-1-4.png"
                    )
                .swiper-slide
                  img(
                    alt="" 
                    src="/clientasset/img/inner-img-5.png"
                    )
                .swiper-slide
                  img(src="https://swiperjs.com/demos/images/nature-6.jpg")
                .swiper-slide
                  img(src="https://swiperjs.com/demos/images/nature-7.jpg")
                .swiper-slide
                  img(src="https://swiperjs.com/demos/images/nature-8.jpg")
                .swiper-slide
                  img(src="https://swiperjs.com/demos/images/nature-10.jpg")
              .swiper-button-next
              .swiper-button-prev
            .swiper.inner-img(style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff")
              .swiper-wrapper
                .swiper-slide
                  img(
                    alt="" 
                    src="/clientasset/img/inner-img-1-4.png"
                    )
                .swiper-slide
                  img(
                    alt="" 
                    src="/clientasset/img/inner-img-2.png"
                    )
                .swiper-slide
                  img(
                    alt="" 
                    src="/clientasset/img/inner-img-3.png"
                    )
                .swiper-slide
                  img(
                    alt="" 
                    src="/clientasset/img/inner-img-1-4.png"
                    )
                .swiper-slide
                  img(
                    alt="" 
                    src="/clientasset/img/inner-img-5.png"
                    )
                .swiper-slide
                  img(src="https://swiperjs.com/demos/images/nature-6.jpg")
                .swiper-slide
                  img(src="https://swiperjs.com/demos/images/nature-7.jpg")
                .swiper-slide
                  img(src="https://swiperjs.com/demos/images/nature-8.jpg")
                .swiper-slide
                  img(src="https://swiperjs.com/demos/images/nature-10.jpg")
              .swiper-button-next
              .swiper-button-prev
          .inf-tour
            .inner-content
              .inner-label Thông Tin Tour
              p
                | Nói về dịch vụ, chắc chắn rồi, với một tiêu chí của một khách sạn 5 sao đẳng cấp, mình
                |   tin rằng Indochine Palace đủ để cho bạn đánh giá 6 sao. Từ nhà hàng, cà phê, đến trung
                |   tâm thể dục thể thao hiện đại đến Spa, xông hơi… tất tần tật các dịch vụ mà bạn mong
                |   muốn đều có ở đây.. Từ nhà hàng, cà phê, đến trung tâm thể dục thể thao hiện đại đến
                |   Spa, xông hơi… tất tần tật các dịch vụ mà bạn mong muốn đều có ở đây. . Từ nhà hàng, cà
                |   phê, đến trung tâm thể dục thể thao hiện đại đến Spa, xông hơi…
              img(
                alt="" 
                src="/clientasset/img/inner-img-2.png"
                )
              p
                | Sáng: HDV TOPTEN TRAVEL® Đón Quý Khách tại sân bay Tân Sơn Nhất làm thủ tục check in cho
                |   đoàn đi Hà
                |   Nội (Quý Khách vui lòng có mặt ở sân bay trước 2 tiếng so với giờ bay. Đến sân bay Hà
                |   Nội – Xe và HDV đón Đoàn đưa về Khách sạn nghỉ ngơi. Đoàn dùng bữa trưa tại Nhà Hàng.
                |   Chiều: Tham quan
                |   Viếng Chùa Trấn Quốc – Ngôi chùa Trấn Bắc cổ kính nhất Việt Nam với 1.500 năm tuổi nằm
                |   trên bán đảo cồn Quy linh thiêng, với truyền thuyết và huyền thoại về Hồ Tây, hồ Trúc
                |   Bạch.
                |   Đền Ngọc Sơn, Cầu Thê Húc, hồ Hoàn Kiếm - Trực tiếp chứng kiến cụ Rùa dài 2,1m, ngang
                |   1,2m được trưng bày tại đền Ngọc Sơn.
                |   Văn Miếu Quốc Tử Giám – Nơi đựoc xem như Trường Đại học đầu tiên của Việt Nam với 82 tấm
                |   bia Tiến sỹ còn lưu danh sử sách.
                |   Tối: Đoàn dùng cơm tối tại nhà hàng. Đoàn tự do nghỉ ngơi hoặc dạo chơi thăm phố cổ Hà
                |   Nội, dạo Hồ Gươm, mua sắm tại Chợ đêm Hà Nội sầm uất...
            .read-more
              button Xem tất cả
          .list-tour
            .inner-label Lịch Trình Tour
            .inner-list-tour
              .line
              .inner-item-tour
                .dot
                .inner-item-label NGÀY 1 | TP.HCM – THỦ ĐÔ HÀ NỘI
                .inner-content
                  p
                    | Sáng: HDV TOPTEN TRAVEL® Đón Quý Khách tại sân bay Tân Sơn Nhất làm thủ tục check
                    |   in cho đoàn đi Hà
                    |   Nội (Quý Khách vui lòng có mặt ở sân bay trước 2 tiếng so với giờ bay. Đến sân
                    |   bay Hà Nội – Xe và HDV đón Đoàn đưa về Khách sạn nghỉ ngơi. Đoàn dùng bữa trưa
                    |   tại Nhà Hàng.
                    |   Chiều: Tham quan
                    |   Viếng Chùa Trấn Quốc – Ngôi chùa Trấn Bắc cổ kính nhất Việt Nam với 1.500 năm
                    |   tuổi nằm trên bán đảo cồn Quy linh thiêng, với truyền thuyết và huyền thoại về
                    |   Hồ Tây, hồ Trúc Bạch.
                    |   Đền Ngọc Sơn, Cầu Thê Húc, hồ Hoàn Kiếm - Trực tiếp chứng kiến cụ Rùa dài 2,1m,
                    |   ngang 1,2m được trưng bày tại đền Ngọc Sơn.
                    |   Văn Miếu Quốc Tử Giám – Nơi đựoc xem như Trường Đại học đầu tiên của Việt Nam
                    |   với 82 tấm bia Tiến sỹ còn lưu danh sử sách.
                    |   Tối: Đoàn dùng cơm tối tại nhà hàng. Đoàn tự do nghỉ ngơi hoặc dạo chơi thăm phố
                    |   cổ Hà Nội, dạo Hồ Gươm, mua sắm tại Chợ đêm Hà Nội sầm uất...
                  img(
                    alt="" 
                    src="/clientasset/img/lichtrinhtour.png"
                    )
              .inner-item-tour
                .dot
                .inner-item-label NGÀY 1 | TP.HCM – THỦ ĐÔ HÀ NỘI
                .inner-content
                  p
                    | Sáng: HDV TOPTEN TRAVEL® Đón Quý Khách tại sân bay Tân Sơn Nhất làm thủ tục check
                    |   in cho đoàn đi Hà
                    |   Nội (Quý Khách vui lòng có mặt ở sân bay trước 2 tiếng so với giờ bay. Đến sân
                    |   bay Hà Nội – Xe và HDV đón Đoàn đưa về Khách sạn nghỉ ngơi. Đoàn dùng bữa trưa
                    |   tại Nhà Hàng.
                    |   Chiều: Tham quan
                    |   Viếng Chùa Trấn Quốc – Ngôi chùa Trấn Bắc cổ kính nhất Việt Nam với 1.500 năm
                    |   tuổi nằm trên bán đảo cồn Quy linh thiêng, với truyền thuyết và huyền thoại về
                    |   Hồ Tây, hồ Trúc Bạch.
                    |   Đền Ngọc Sơn, Cầu Thê Húc, hồ Hoàn Kiếm - Trực tiếp chứng kiến cụ Rùa dài 2,1m,
                    |   ngang 1,2m được trưng bày tại đền Ngọc Sơn.
                    |   Văn Miếu Quốc Tử Giám – Nơi đựoc xem như Trường Đại học đầu tiên của Việt Nam
                    |   với 82 tấm bia Tiến sỹ còn lưu danh sử sách.
                    |   Tối: Đoàn dùng cơm tối tại nhà hàng. Đoàn tự do nghỉ ngơi hoặc dạo chơi thăm phố
                    |   cổ Hà Nội, dạo Hồ Gươm, mua sắm tại Chợ đêm Hà Nội sầm uất...
                  img(
                    alt="" 
                    src="/clientasset/img/lichtrinhtour.png"
                    )
      .inner-right
        .inner-wrap
          .inner-label Chuyến Đi Của Bạn
          .inner-section-1
            img(
              alt="" 
              src="/clientasset/img/left-section-1.png"
              )
            .inner-content
              .inner-content-label Hà Nội - Ninh Bình - Hạ Long - Yên Tử - Sapa | 6N5D
              .rate
                .star
                  i.fa-solid.fa-star
                  i.fa-solid.fa-star
                  i.fa-solid.fa-star
                  i.fa-solid.fa-star
                  i.fa-regular.fa-star
                .number 500 lượt đánh giá
          .inner-section-2
            .inner-item
              i.fa-solid.fa-ticket-simple
              div
                span Mã Tour:
                span.hl 28T00001
            .inner-item
              i.fa-solid.fa-calendar-days
              div
                span Thời Gian:
                span.hl 6 Ngày 5 Đêm
            .inner-item
              i.fa-solid.fa-car
              div
                span Phương Tiện:
                span.hl Ô tô 45 chỗ
            .inner-item
              i.fa-solid.fa-calendar-days
              div
                span Ngày Khởi Hành:
                span.hl 20/10/2024
          .inner-section-3
            div Khởi Hành Tại:
            select(name="")
              option(value="") Hà Nội
              option(value="") TP.Hồ Chí Minh
              option(value="") Hải Phòng
              option(value="") Đà Nẵng
          .inner-section-4
            .inner-section-label Số Lượng Hành Khách
            .infor
              .label Người lớn:
              input(type="number")
              .price
                span 1 x
                span.hl 10.000.000
            .infor
              .label Trẻ em:
              input(type="number")
              .price
                span 0 x
                span.hl 7.990.000
            .infor
              .label Em bé:
              input(type="number")
              .price
                span 0 x
                span.hl 5.990.000
          .total
            div Tổng cộng:
            .hl 10.000.000 đ
          button Thêm Vào Giỏ Hàng