html
  head
    title Trang chủ
    link(rel="stylesheet", href="/style.css")
  body
    h1 message
    div #{name} đang hiển thị
    div 
      div Danh sách hiển thị
      ul 
        each item, index in list
          li #{index+1} - #{item.name} - #{item.vehicle} - #{item.numberOfDay}