.topheader
  .container
    .inner-wrap
      .item1
        i.fa-solid.fa-phone
        span 0123.456.789
      .item2
        i.fa-solid.fa-envelope
        span contact@28travel.com
      .item3
        i.fa-solid.fa-building
        span Số 123, đường ABC, thành phố XYZ
.header
  .container
    .inner-wrap-header
      .icon-menu
        img(
          alt="" 
          src="/clientasset/img/Menu.png"
          )
      .button-logo
        img(
          alt="" 
          src="/clientasset/img/Logo.png"
          )
      .inner-menu
        .beside-menu
          .content
            a(href="#") Trang chủ
          .inner-item.content
            .inner-title
              a(href="#") Tour Trong Nước
              i.fa-solid.fa-caret-down
            ul
              li
                a(href="#") Tour Miền Bắc
              li
                a(href="#") Tour Miền Trung
              li
                a(href="#") Tour Miền Nam
              li
                a(href="#") Tour Xuyên Việt
          .inner-item.content
            .inner-title
              a(href="#") Tour nước ngoài
              i.fa-solid.fa-caret-down
            ul
              li
                a(href="#") Tour Châu Á
              li
                a(href="#") Tour Châu Âu
              li
                a(href="#") Tour Châu Mỹ
              li
                a(href="#") Tour Châu Úc
          .content
            a(href="#") Tin tức
          .content
            a(href="#") Liên hệ
        .overlay
      .cart
        img(
          alt="" 
          src="/clientasset/img/Icon.jpg"
          )
        div
          img(
            alt="" 
            src="/clientasset/img/tam-giac-nhon.svg"
            )
          | 1