doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title #{title}
    link(
      href="/clientasset/css/style.css" 
      rel="stylesheet"
      )
    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" 
      rel="stylesheet"
      )
    link(
      href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" 
      rel="stylesheet"
      )
    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" 
      rel="stylesheet"
      )
    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.css" 
      rel="stylesheet"
      )

body 
  include ../../partial/client/header.pug

  block main

  include ../../partial/client/footer.pug
  include ../../partial/client/outsidebox.pug

  script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
  script(src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.js")
  script(src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js")
  script(src="/clientasset/js/script.js")